
# Python virtual environment directories
.venv
myenv/

# Bytecode files
*.pyc
__pycache__/

# Common Operating System/IDE files
.DS_Store
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Python packaging/build files
*.egg-info/
dist/
build/